<ul>
  <li>Philosophy
    <ul>
      <li><a href="./existence-isnt-everything/">Existence Isn’t Everything</a></li>
      <li><a href="./sociality-undenied/">Sociality Undenied</a></li>
      <li><a href="./from-where/">From Where?</a></li>
      <li><a href="./nothing-to-fear">Nothing to Fear, Even Fear Itself</a></li>
    </ul>
  </li>
  <li>Health
    <ul>
      <li><a href="./sanity-and-health/">Sanity and Health</a></li>
    </ul>
  </li>
  <li>Design
    <ul>
      <li><a href="./just-living">Just Living</a></li>
      <li><a href="./mechanics-of-mass-slavery/">Mechanics of Mass Slavery</a></li>
      <li><a href="./ordo/">ORDO</a></li>
      <li><a href="./tribal-housing/">Tribal Housing</a></li>
      <li><a href="http://andrewdurham.shutterfly.com">Gallery</a></li>
    </ul>
  </li>
  <li>Misc
    <ul>
      <li><a href="./myths">Myths</a></li>
      <li><a href="./poems">Poems</a></li>
      <li><a href="./lyrics">Lyrics</a></li>
      <li><a href="./ashers">The Ashers, a River, and I</a></li>
    </ul>
  </li>
  <li>By Others
    <ul>
      <li><a href="./bibliography">Bibliography</a></li>
      <li><a href="./links/">Links</a></li>
      <li><a href="./origins-of-agriculture/">Origins of Agriculture</a></li>
      <li><a href="./d/">QWERTY to Dvorak</a></li>
    </ul>
  </li>
</ul>

